html, body {
	background-color: #000000;
	color:#FFFFFF;
	font-size: 50px;
}

h1 {
	font-size: 100px;
	color:#FFFFFF;
}

h2, h3, h4 {
	font-size: 50px;
	color:#FFFFFF;
}

a {
	color: #FFFFFF;
}

img {
	height:auto;
	max-width: 100%;
}
